.smallcaps {
	font-variant: small-caps;
	color:white;
}

#activation_records
{
	float: left;
	width: 500px;
	height: 600px;
	top: 23px;
	left: 514px;
	position: absolute;
	background-color: #C00000;
}
#run_options
{
	float: left;
	width: 500px;
	height: 30px;
	top: 23px;
	left: 12px;
	position: absolute;
	background-color: #C00000;
}
#code_window
{
	float: left;
	width: 500px;
	height: 366px;
	top: 55px;
	left: 12px;
	position: absolute;
	background-color: #C00000;
}
#prog_console
{
	float: left;
	width: 500px;
	height: 200px;
	top: 423px;
	left: 12px;
	position: absolute;
	background-color: #C00000;
}

textarea{
   height: 10px;
   width: 90%;
   padding:10%;
   border:2px;
}
